* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.allWrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

html {
    background-color: rgb(24, 24, 24);
}

.navBar {
    width: 19%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.5%;
    padding-bottom: 2%;
    position: fixed;
}

.bodyEvent {
    width: 81%;
    background-color: rgb(24, 24, 24);
    position: absolute;
    right: 0;
    top: 0;
}

.appLink {
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.appDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.appDiv svg {
    transform: scale(2.5);
}

.appDiv span {
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 19px;
}

.menuLinks {
    display: block;
    height: 11%;
    width: 100%;
    border-bottom: 1px solid black;
}

.menuLinks:nth-of-type(5) {
    margin-top: 15%;
}

.line {
    width: 80%;
    height: 1px;
    margin-top: 3px;
    background-color: rgb(107, 104, 104);
}

.optionDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100%;
}

.menuTexts {
    font-weight: bolder;
    font-size: small;
    margin-left: 4%;
    color: white;
}

svg {
    width: 24px;
    height: 24px;
}

.optionDiv:hover svg {
    stroke: rgb(34, 209, 34);
}

.optionDiv:hover .menuTexts {
    color: rgb(34, 209, 34);
}

.intro {
    height: 45vh;
    width: 100%;
    display: flex;
}

.you {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarDiv {
    width: 90%;
    height: 190px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarDiv svg {
    height: 100%;
    width: 100%;
}

.name {
    height: 35%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#username {
    color: white;
    font-size: xx-large;
    font-weight: bolder;
}

#username:hover {
    color: rgb(34, 209, 34);
}

.youInfo {
    width: 70%;
    display: flex;
    flex-direction: column;
}

.youInfo1 {
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.youInfo2 {
    height: 26%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

#logout {
    display: inline;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    font-size: small;
}

#logout:hover {
    background-color: white;
    color: black;
}

.youminions {
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minioncount,
.playlistlistLink1 {
    color: rgb(34, 209, 34);
    font-size: x-large;
}

.miniontext,
.playlistlistLink2 {
    font-size: small;
    color: rgb(196, 188, 188);
    margin-top: 10px;
}

.playlistlistLink2:hover {
    text-decoration: underline;
}

.newMusicWrapper {
    width: 100%;
    margin-top: 35px;
    padding: 20px;
}

.newMusicHeader {
    height: 10%;
    font-size: 22px;
    font-weight: bold;
}

.newMusic {
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.artistsBox {
    width: 23%;
    height: 270px;
    background-color: rgba(129, 120, 120, 0.1);
    border-radius: 10px;
    padding: 15px;
    margin-top: 20px;
    margin-left: 12px;
}

.artistsBox:hover {
    background-color: rgba(129, 120, 120, 0.5);
}

.artistsLink {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.artistsBoxInner {
    height: 60%;
    border-radius: 10px;
    padding-top: 15px;
    background-color: transparent;
    overflow: hidden;
}

.artistsImage {
    width: 100%;
    border-radius: 10px;
}

.artistsBoxInner2 {
    height: 40%;
    border-radius: 10px;
    padding-top: 20px;
    font-size: small;
    text-align: center;
}

.artistsBoxInner2 span {
    display: block;
    margin-top: 5px;
    font-size: small;
    color: rgb(196, 188, 188);
}






/* Responsiveness */
/* Responsiveness */
/* Responsiveness */
/* Responsiveness */

.bodyEvent {
    overflow: unset;
}

.menuTexts {
    text-align: center;
}

.navBar {
    z-index: 9999999999999;
}



@media screen and (max-width:900px) {
    .navBar {
        bottom: 0;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .appLink {
        display: none;
    }

    .menuLinks {
        height: 100%;
        width: 20%;
    }

    .menuLinks:nth-of-type(5) {
        margin-top: 0;
    }

    .line {
        display: none;
    }

    .optionDiv {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .menuTexts {
        margin-left: 0;
        margin-top: 5%;
    }

    .bodyEvent {
        width: 100%;
        padding: 20px;
    }

    .newMusicWrapper {
        margin-top: 0;
        padding: 0;
        padding-bottom: 10vh;
    }

}


@media screen and (max-width:745px) {
    .newMusic {
        height: unset;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    .artistsBox {
        width: 45%;
        margin: 10px;
    }

    #username {
        font-size: large;
    }

    .intro {
        transform: translateY(-30px);
        height: 35vh;
    }

    #logout {
        transform: translateY(-30px);
    }

    .newMusicWrapper {
        height: unset;
    }

    .artistsBoxInner {
        padding-top: 0;
        height: 80%;
    }

    .artistsBoxInner2 {
        height: 20%;
        padding-top: 10px;
        overflow: hidden;
        padding-bottom: 1px;
        border-radius: 0;
    }

    .artistsBoxInner2 h3 {
        font-size: small;
    }

    .artistsBoxInner2 span {
        font-size: xx-small;
    }

}

@media screen and (max-width:900px) {
    @media screen and (orientation: landscape) {
        .navBar {
            height: 20vh;
        }

        .intro {
            height: 48vh;
        }
    }
}
@media screen and (max-width:900px){
    @media screen and (orientation: landscape) {
        .navBar{
            height: 20vh;
        }
        .intro{
            height: 48vh;
        }
    }
}
@media screen and (max-width:600px) {
    .newMusic {
        height: unset;
        justify-content: space-between;
    }
    .artistsBoxInner2{
        height: fit-content;
    }

    .artistsBox {
        width: 43%;
        margin-top: 10px;
        padding: 0;
    }
    .artistsImage{
        border-radius: 6px;
    }

    .newMusic {
        padding: 0;
    }

    .avatarDivPro {
        width: 120px;
        height: 120px;
    }

    .artistsBoxInner {
        height: 85%;
        border-radius: 6px;
    }

    .artistsBoxInner2 {
        height: 15%;
    }
    svg{
        width: 29px;
        height: 29px;
    }
}

@media screen and (max-width:455px) {
    .newMusic {
        height: unset;
        justify-content: space-between;
    }

    .artistsBox {
        width: 43%;
        margin-top: 10px;
    }

    .newMusic {
        padding: 0;
    }
}

@media screen and (max-width:395px) {
    .newMusic {
        height: unset;
        justify-content: space-between;
    }

    .artistsBox {
        width: 42%;
        margin-top: 10px;
    }

    .newMusic {
        padding: 0;
    }

    #username {
        font-size: small;
    }

    .minioncount {
        font-size: large;
    }

    .miniontext,
    .playlistlistLink2 {
        font-size: xx-small;
    }

    #logout {
        font-size: x-small;
        border-width: 1.5px;
    }

    .intro {
        transform: translateY(-50px);
    }

    .minioncount {
        font-size: small;
    }
}

@media screen and (max-width:325px) {
    .artistsBox {
        width: 90%;
    }

    .artistsBoxInner {
        padding-top: 0;
        height: 75%;
    }

    .artistsBoxInner2 {
        min-height: 25%;
        padding-top: 5px;
        overflow: hidden;
        padding-bottom: 1px;
        border-radius: 0;
    }
}


@media only screen and (max-width: 1280px) {
    .appDiv span {
        font-size: medium;
    }
}

@media only screen and (max-width: 1169px) {
    .appDiv span {
        font-size: small;
    }
}



@media only screen and (max-width: 600px) {
    .artistsBoxInner2{
        height: fit-content;
        padding-bottom: 10px;
    }
    .menuLinks{
        width: 23%;
    }
    .artistsBox {
        width: 90%;
        min-height: 400px;
    }

    .newMusicHeader {
        font-size: xx-large;
        margin-bottom: 15px;
    }

    .artistsBoxInner2 h3 {
        font-size: large;
    }

    .artistsBoxInner2 span {
        font-size: medium;
    }

    .menuLinks:last-of-type {
        display: none;
    }

    .navBar {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 350px) {
    .artistsBox {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) {
    .artistsBox {
        width: 45%;
        min-height: 350px;
    }
}


@media only screen and (min-width: 743px) {
    .artistsBox {
        width: 45%;
        min-height: 515px;
    }
}

@media only screen and (min-width: 1199px) {
    .artistsBox {
        width: 30%;
        min-height: 460px;
    }
}