*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}
.allWrapper{
    width: 100vw;
    display: flex;   
    flex-direction: row;
}
html{
    background-color: rgb(24, 24, 24);
}
.navBar{
    width: 19%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.5%;
    padding-bottom: 2%;
    position: fixed;
}
.bodyEvent{
    width: 81%;
    background-color: rgb(24, 24, 24);
    position: absolute;
    right: 0;
    top: 0;
}
.appLink{
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}
.appDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.appDiv svg{
    transform: scale(2.5);
}
.appDiv span{
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 19px;
}
.menuLinks{
    display: block;
    height: 11%;
    width: 100%;
    border-bottom: 1px solid black;
}

.menuLinks:nth-of-type(5){
    margin-top: 15%;
}

.line{
    width: 80%;
    height: 1px;
    margin-top: 3px;
    background-color: rgb(107, 104, 104);
}

.optionDiv{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 10%;
    padding-right: 10%;
    width: 100%;
    height: 100%;
}

.menuTexts{
    font-weight: bolder;
    font-size: small;
    margin-left: 4%;
    color: white;
}

svg{
    width: 24px;
    height: 24px;
}
.optionDiv:hover svg{
    stroke: rgb(34, 209, 34);
}
.optionDiv:hover .menuTexts{
    color: rgb(34, 209, 34);
}

.intro{
    height: 45vh;
    width: 100%;
    display: flex;
}
.you{
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.avatarDivPro{
    width: 155px;
    height: 155px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    margin-top: 18px;
}

.avatarDiv{
    width: 90%;
    height: 190px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.profilePic{
    width: 100%;
}
.avatarDiv svg{
    height: 100%;
    width: 100%;
}
.name{
    height: 35%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#username{
    color: white;
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px;
}
#username:hover{
    color: rgb(34, 209, 34);
}
.youInfo{
    width: 70%;
    display: flex;
    flex-direction: column;
}
.youInfo1{
    height: 74%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.youInfo2{
    height: 26%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
#logout{
    display: inline;
    color: white;
    border: 2px solid white;
    border-radius: 20px;
    padding: 7px 20px 7px 20px;
    font-size: small;
}
#logout:hover{
    background-color: white;
    color: black;
}
.youminions{
    height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.minioncount, .playlistlistLink1{
    color: rgb(34, 209, 34);
    font-size: x-large;
}
.miniontext, .playlistlistLink2{
    font-size: small;
    color: rgb(196, 188, 188);
    margin-top: 10px;
}
.playlistlistLink2:hover{
    text-decoration: underline;
}
.newMusicWrapper{
    width: 100%;
    margin-top: 10px;
    padding: 20px;
}
.newMusicHeader{
    height: 10%;
    font-size: 23px;
    font-weight: bolder;
}
.newMusic{
    height: 95%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.artistsBox{
    width: 23%;
    height: 97%;
    background-color: rgba(129, 120, 120, 0.1);
    border-radius: 10px;
    padding: 15px;
}
.artistsBox:hover{
    background-color: rgba(129, 120, 120, 0.5);
}
.artistsLink{
    height: 100%;
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}
.artistsBoxInner{
    height: 60%;
    border-radius: 10px;
    padding-top: 15px;
    background-color: transparent;
    overflow: hidden;
}
.artistsImage{
    width: 100%;
    border-radius: 10px;
}
.artistsBoxInner2{
    height: 40%;
    border-radius: 10px;
    padding-top: 20px;
    font-size: small;
}
.artistsBoxInner2 span{
    display: block;
    margin-top: 5px;
    font-size: small;
    color: rgb(196, 188, 188);
}
.newMusic::-webkit-scrollbar{
    height: 2px;
}
.newMusic::-webkit-scrollbar-thumb{
    background-color: grey;
}






/* Responsiveness */
/* Responsiveness */
/* Responsiveness */
/* Responsiveness */

.bodyEvent{
    overflow: unset;
}
.menuTexts{
    text-align: center;
}
.navBar{
    z-index: 9999999999999;
}


@media screen and (max-width:900px){
    .intro{
        height: 30vh;
    }
    .navBar{
        bottom: 0;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }
    .appLink{
        display: none;
    }
    .menuLinks{
        height: 100%;
        width: 20%;
    }
    .menuLinks:nth-of-type(5) {
        margin-top: 0;
    }
    .line{
        display: none;
    }
    .optionDiv{
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }
    .menuTexts{
        margin-left: 0;
        margin-top: 5%;
    }
    .bodyEvent{
        width: 100%;
        padding: 20px;
    }
    .newMusicWrapper{
        margin-top: 0;
        padding: 0;
        padding-bottom: 10vh;
    }
    .artistsBoxInner{
        padding-top: 0;
        height: 70%;
    }
    .artistsBoxInner2{
        height: 30%;
        padding-top: 10px;
        overflow: hidden;
        padding-bottom: 1px;
        border-radius: 0;
    }

}


@media screen and (max-width:745px){
    #username{
        font-size: x-large;
    }
        .intro{
            transform: translateY(-30px);
            height: 35vh;
            margin-top: 15px;
        }
    .artistsBoxInner2 h3{
        font-size: medium;
    }
    .artistsBoxInner2 span{
        font-size: small;
    }
    .artistsImage{
        transform: translateY(-5%);
    }
        .minioncount, .playlistlistLink1{
        font-size: large;
    }
    .miniontext, .playlistlistLink2{
        font-size: small;
    }
    

}
@media screen and (max-width:900px){
    @media screen and (orientation: landscape) {
        .navBar{
            height: 20vh;
        }
        .intro{
            height: 48vh;
        }
    }
}

@media only screen and (max-width: 600px) { 
    .menuLinks{
        width: 23%;
    }
    .newMusic{
        height: 340px;
        overflow: auto;
        flex-direction: column;
        flex-wrap: wrap;    
        padding-left: 0;
    }
    .artistsBox{
        width: 290px;
        height: 100%;
        margin-left: 10px;
    }
    .artistsBox:first-of-type{
        margin-left: 0px;
    }
    .newMusicWrapper{
        margin-top: 50px;
    }
    .intro{
        flex-direction: column;
        height: 50vh;
        margin-top: 20px;
    }
    .you{
        width: 100%;
        height: 50%;
        justify-content: space-between;
    }
    .youInfo{
        margin-top: 20px;
        width: 100%;
        height: 40%;
    }
    #username{
        font-size: x-large;
    }
    .name{
        align-items: center;
        height: 15%;
    }
    .playlistlistLink1{
        font-size: large;
    }
    .miniontext, .playlistlistLink2{
        font-size: small;
    }
    .minioncount{
        font-size: large;
    }
    .newMusicHeader{
        font-size: 27px;
    }
    .artistsBoxInner2 h3{
        font-size: large;
    }
    .artistsBoxInner2 span{
        font-size: medium;
    }
    .menuLinks:last-of-type{
        display: none;
    }
    .navBar{
        justify-content: space-between;
    }
    #logout{
        font-size: small;
        border-width: 1.5px;
    }
    .avatarDivPro{
        width: 155px;
        height: 155px;
    }
    svg{
        width: 29px;
        height: 29px;
    }
}
@media screen and (max-width:521px){
    .artistsBoxInner{
        height: 60%;
    }
    .artistsBoxInner2{
        height: 40%;
    }
}

@media screen and (max-width:325px){
    #logout{
        font-size: xx-small;
        padding: 7px 12px 7px 12px ;
    }
}

@media only screen and (min-width: 600px) {
    .newMusic{
        height: 340px;
        overflow: auto;
        flex-direction: column;
        flex-wrap: wrap;    
        padding-left: 0;
    }
    .artistsBox{
        width: 290px;
        height: 100%;
        margin-left: 10px;
    }
    .artistsBox:first-of-type{
        margin-left: 0px;
    }
    .newMusicWrapper{
        margin-top: 70px;
    }
 }

 @media only screen and (min-width: 768px) {
    .newMusic{
        height: 500px;
        overflow-x: auto;
        flex-direction: column;
        flex-wrap: wrap;    
        padding-left: 0;
    }
    .artistsBox{
        width: 350px;
        height: 100%;
        margin-left: 10px;
    }
    .artistsBox:first-of-type{
        margin-left: 0px;
    }
 }


 @media only screen and (max-width: 1280px) {
    .appDiv span{
        font-size: medium;
    }
 }
 @media only screen and (max-width: 1169px) {
    .appDiv span{
        font-size: small;
    }
 }