* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

html {
    background-color: rgb(24, 24, 24);
}

.allWrapper {
    width: 100vw;
    display: flex;
    flex-direction: row;
}

.navBar {
    width: 19%;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 1.5%;
    padding-bottom: 2%;
    position: fixed;
}

.bodyEvent {
    width: 81%;
    background-color: rgb(24, 24, 24);
    position: absolute;
    right: 0;
    top: 0;
}

.appLink {
    width: 100%;
    height: 10%;
    margin-bottom: 10%;
    padding-left: 10%;
    padding-right: 10%;
}

.appDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.appDiv svg {
    transform: scale(2.5);
}

.appDiv span {
    margin-left: 20px;
    text-transform: capitalize;
    font-weight: bolder;
    font-size: 19px;
}

.menuLinks {
    display: block;
    height: 11%;
    width: 100%;
    border-bottom: 1px solid black;
}

.menuLinks:nth-of-type(5) {
    margin-top: 15%;
}

.line {
    width: 80%;
    height: 1px;
    margin-top: 3px;
    background-color: rgb(107, 104, 104);
}

.optionDiv {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    height: 100%;
    padding-left: 10%;
    padding-right: 10%;
}

.menuTexts {
    font-weight: bolder;
    font-size: small;
    margin-left: 4%;
    color: white;
}

svg {
    width: 24px;
    height: 24px;
}

.optionDiv:hover svg {
    stroke: rgb(34, 209, 34);
}

.optionDiv:hover .menuTexts {
    color: rgb(34, 209, 34);
}



.newMusicWrapper {
    height: 400px;
    width: 100%;
    margin-top: 35px;
    padding: 20px;
}

.newMusicHeader {
    height: 10%;
    font-size: 22px;
    font-weight: bolder;
}

.newMusic {
    height: 95%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.artistsBox {
    width: 100%;
    height: 65px;
    background-color: rgba(129, 120, 120, 0.1);
    margin-top: 10px;
}

.artistsBox:hover {
    background-color: rgba(129, 120, 120, 0.5);
}

.artistsLink {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.artistsBoxInner {
    height: 100%;
    width: 8%;
}

.artistsImage {
    height: 100%;
}

.artistsBoxInner2 {
    height: 100%;
    font-size: small;
    width: 84%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

.duration {
    height: 100%;
    width: 8%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.artistsBoxInner2 span {
    color: rgb(196, 188, 188);
}

.durationSpan {
    color: rgb(196, 188, 188);
}







/* Responsiveness */
/* Responsiveness */
/* Responsiveness */
/* Responsiveness */

.bodyEvent {
    overflow: unset;
}

.menuTexts {
    text-align: center;
}

.navBar {
    z-index: 9999999999999;
}

.newMusicWrapper {
    height: unset;
    margin-top: 10px;
}

.artistsBoxInner2 {
    padding-left: 15px;
}

@media screen and (max-width:900px) {
    .navBar {
        bottom: 0;
        width: 100vw;
        height: 10vh;
        flex-direction: row;
        justify-content: center;
        padding: 0;
    }

    .appLink {
        display: none;
    }

    .menuLinks {
        height: 100%;
        width: 20%;
    }

    .menuLinks:nth-of-type(5) {
        margin-top: 0;
    }

    .line {
        display: none;
    }

    .optionDiv {
        flex-direction: column;
        padding: 0;
        justify-content: center;
    }

    .menuTexts {
        margin-left: 0;
        margin-top: 5%;
    }

    .bodyEvent {
        width: 100%;
        padding: 20px;
    }

    .newMusic {
        padding: 0;
        padding-bottom: 10vh;
    }

}


@media screen and (max-width:745px) {
    .artistsBox {
        height: 55px;
        margin: 10px;
    }

    #username {
        font-size: large;
    }

    .intro {
        transform: translateY(-30px);
        height: 35vh;
    }

    #logout {
        transform: translateY(-30px);
    }

    .newMusicWrapper {
        padding: 0;
    }

    .artistsBoxInner {
        width: 10%;
    }

    .artistsBoxInner2 {
        width: 78%;
    }

    .artistsBoxInner2 h3 {
        font-size: small;
    }

    .artistsBoxInner2 span {
        font-size: xx-small;
    }

    .duration {
        margin-right: 5px;
    }

    .durationSpan {
        font-size: xx-small;
    }
}

@media screen and (max-width:900px) {
    @media screen and (orientation: landscape) {
        .navBar {
            height: 20vh;
        }

        .intro {
            height: 48vh;
        }
    }
}

@media screen and (max-width:600px) {
    .menuLinks {
        width: 23%;
    }

    .artistsBoxInner2 {
        height: fit-content;
    }

    .newMusicHeader {
        font-size: x-large;
        margin-bottom: 15px;
    }

    .artistsLink {
        justify-content: space-between;
    }

    .duration {
        width: 14%;
    }

    .artistsBoxInner2 h3 {
        font-size: 15px;
    }

    .artistsBoxInner2 span {
        font-size: small;
    }

    .menuLinks:last-of-type {
        display: none;
    }

    .navBar {
        justify-content: space-between;
    }

    .durationSpan {
        font-size: medium;
    }

    svg {
        width: 29px;
        height: 29px;
    }

    .artistsBoxInner {
        width: 16%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .artistsBox {
        min-height: 85px;
    }

    .artistsBoxInner2 {
        width: 69%;
    }
}

@media screen and (max-width:496px) {
    .artistsImage {
        width: 100%;
        height: unset;
    }
}

@media screen and (max-width:395px) {
    #username {
        font-size: small;
        transform: translateY(-35px);
    }

    .minioncount {
        font-size: large;
    }

    .miniontext,
    .playlistlistLink2 {
        font-size: xx-small;
    }

    #logout {
        font-size: x-small;
    }

    .intro {
        transform: translateY(-50px);
    }

    .optionDiv:last-of-type {
        padding: 5px;
    }
}

@media screen and (max-width:325px) {
    .menuTexts {
        font-size: x-small;
    }

}